body {
	margin: 0 0 55px 0;
	text-align: center;
	text-color: red;
}

.banner {
	padding: 10px;
	background-color: red;
	color: white;
	text-align: left;
}

h1 {
	text-align: center;
}

img {
	filter: grayscale(100%) invert(100%) brightness(100%);
}
